<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="body">
    <div class="titulo" >
        <div class="titulo">
            <h1>Formularios SPA</h1>
        </div>
        <div class="enlace2" >
           <a href="/nosotros" class="enlace_titulo" >Sobre nosotros</a>
        </div>
        <div class="enlace2" >
           <a href="/contacto" class="enlace_titulo" >Contactanos</a>
        </div>
    </div>


    <div class="contenido_principal_index">
        <div class="principal_index">
            <a class="enlaces_inicio" href="ejercicio1">Ejercicio 1</a>
        </div>
        <div class="principal_index">
            <a class="enlaces_inicio" href="ejercicio2">Ejercicio 2</a>
        </div>
    </div>


</body>
<footer class="footer">
    <p>
         Jonathan Trigo Rivera --Todos los derechos reservados--
    </p>
</footer>
</html>