<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="body">
    <div class="titulo">
        <div>
          <h1>Nosotros</h1>
        </div>
        <div class="enlace2" >
           <a href="/" class="enlace_titulo" >Formulario</a>
        </div>
        <div class="enlace2" >
           <a href="/contacto" class="enlace_titulo" >Contactanos</a>
        </div>

    </div>

    <div class="parrafos_columnas">
        <div class="parrafos">
            <p>
                Nuestra historia comienza en el año 2018 al instituir la compañía
                que hasta el dia de hoy sería conocida como 'Formularios'.

                En este arduo camino buscando la perfección en cada aspecto de nuestro
                trabajo, sólo nos queda seguir adelante ganandonos la confianza de
                nuestros clientes que día a día nos entregan su confianza y lealtad.
            </p>
            <img src="../static/escritorio2.jpg" width="400px">
        </div>
        <div class="parrafos">

            <p>
                Inicialmente con un equipo de trabajo pequeño en las inmediaciones de
                una casa residencial en los suburbios de una ciudad costera, nace una
                idea que prebalecería hasta el día de hoy

                Siempre teniendo en mente buscar una solució tecnológica que cubra
                las necesidades de nuestros clientes, seguiremos avanzando hacia un mañana
                brillante y lleno de nuevas oportunidades.
            </p>
            <img src="../static/fondo_claro.webp" width="400px">
        </div>
        <div class="parrafos">
            <p>
                Desde este momento en adelante, agradecemos y seguiremos esforzandonos
                para continuar acompañandote en el desarrollo de tus proyectos.

                Se despide con gran cordialidad deseando que pueda comunicarse con
                nosotros por cualquiera de nuestros canales de comunicación
                Equipo de desarrollo.
                Formularios spa.



            </p>
            <img src="../static/fondo%20para%20web2.jpg" width="400px">
        </div>
        </div><!--Fin parrafos-->
    </div><!--Fin parrafo_columnas-->

</body>
<footer class="footer">
    <p>
         Jonathan Trigo Rivera --Todos los derechos reservados--
    </p>
</footer>
</html>